<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Edit Link</title>
</head>

<body>
    <div class="container w-50">
        <h1>Edit Link</h1>

        <form class="d-flex flex-column" action="/edit/<%=body.id%>" method="POST">
            <input class="mb-2" name="title" placeholder="Title" required value="<%=body.title%>">
            <input class="mb-2" name="description" placeholder="Description" value="<%=body.description%>">
            <input class="mb-4" name="url" placeholder="URL" required value="<%=body.url%>">
            <button class="btn btn-primary">Add</button>
        </form>
        <%if(error){%>
            <div class="alert alert-danger alert-dismissible fade show mt-3">
                <strong>Error: </strong>
                <%=error.message%>
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
            </div>
            <%}%>
    </div>
</body>

</html>